<div class="wrapper">

  <div class="info">
    <h1>About Me</h1>
    <div class="profile">
        <img src="./assets/img/about/11.jpg" alt="">
    </div>
    <hr>
    <!--This is behind of the scene code image this is how neo see everything ! #matrix-vision  -->
    <p>
      Hello all! my name is shalom and this is my portfolio  :) <br>
      I graduated from afeka college of engineering, and I'm searching for a junior developer position.<br>
      I love programming, being Creative, building games, and web apps, you can view some of my<br>
      favorite projects in my portfolio section.<br>
    </p>
    <div class="parallax-code-img"></div>
  </div>


  <div class="info">
      <h1>MY PERSONAL INTERESTS</h1>
      <hr>
      <p>
        In my college years, I helped mentoring young studens, and also worked as a private<br>
        teacher for programming mostly C# and Java, for first and second year students.<br>
        In my spare time I like to have fun, workout, playing on my ps4 console you are never too old for that.<br>
        I love playing and building games since I can remember myself. Some of my favorite games are:<br>
        Mortel Kombat, Rocket Leauge, God Of War, Just Cause, The Last Of Us, Injustice, Fifa and many more.<br>
      </p>
      <div class="gaming"></div>
  </div>


  <div class="footer">

    <h3>The Most Importent Thing For Me In The Work Place:</h3>
    <hr>
    <p>
      <br>
      <br>
      Professional Work Ethics <br>
      <br>
      <br>
      Good Leadership <br>
      <br>
      <br>
      Teamwork<br>
    </p>
    <br>
    <br>

    <p>Shalom Pinchas Portfolio &copy; 2019</p>

  </div>
</div>
